@import url(https://fonts.googleapis.com/css?family=Raleway:600);

button.btn{
	width: 300;
}

body{
	background-image: url('/images/chat1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top center;
	background-size: inherit;
}

h1.welcome{
	font-size: 100;
	font-style: oblique;
	color: rgb(56, 157, 182);
	text-shadow: 3px 3px #737E96;
	font-family: 'Raleway', cursive;
}

div.main{
	position: absolute;
	left: 7%;
	top: 15%;
	width: 90%;
}

div.options{
	padding-left: 35%;
	padding-top: 10%;
}

img.register{
	max-height: 45;
	max-width: 45;
	float: left;
	padding-right: 10;
	border-right: 1px dotted #8A8A8A;
}

img.register1{
	max-height: 35;
	max-width: 35;
	float: left;
	border-right: 1px dotted #8A8A8A;
	padding-right: 15;
	padding-left: 5;
}

p{
	//font-family: 'Raleway', sans-serif;
	padding-top: 10;
	font-size: x-large;
	color: rgb(218, 223, 211);;
}