%link{:rel=>"stylesheet", :type=>"text/css", :href=>"/css/dashboard.css"}
%link{:rel=>"stylesheet", :type=>"text/css", :href=>"https://cdn.datatables.net/1.10.0/css/jquery.dataTables.css"}
%script{:type=>'text/javascript', :src=>'https://cdn.datatables.net/1.10.0/js/jquery.dataTables.js'}

.row
	.span12
		.navbar.navbar-fixed-top
			.navbar-inner
				.span4
				.span4
					%form.navbar-search.frmSearch
						%input.seach-query{:type=>'text', :placeholder=>'Search HashTag', :id=>'input_search',:maxlength=>"45"}
				.span4.mymenu
					.div{:id=>'st-trigger-effects', :class=>'column'}
						%button{:class=>'btn btn-mini', :id=>"tooltipinfo", :data=>{:effect=>'st-effect-9', :toogle=>'tooltip', :placement=>'bottom', :original=>{:title=>'Menu'}}}							 
.row.rowNews
	.span12
		.displayNewsU
			.newsTitle
				%h2 Top Tradings
			.newsBody
				%table.dataTable{cellspacing: "0", width: "100%", :id=>'TopTrade', :class=>'table-bordered table-striped'}
					%thead
						%tr
							%th Tag
							%th Price
							%th Percentage
					%tbody
						%tr
							%td #Cats
							%td 1000K
							%td +18
						%tr
							%td #ILIKEMUM
							%td 1200K
							%td +12
						%tr
							%td #CLOUD
							%td 800K
							%td +8
						%tr
							%td #SUN
							%td 200K
							%td +6

.row.rowNews
	.span12
		.displayNewsD
			.newsTitle
				%h2 Down Tradings
			.newsBody
				%table.dataTable{cellspacing: "0", width: "100%", :id=>'DownTrade', :class=>'table-bordered table-striped'}
					%thead
						%tr
							%th Tag
							%th Price
							%th Percentage
					%tbody
						%tr
							%td #Cats
							%td 5000K
							%td -25
						%tr
							%td #ILIKEMUM
							%td 9K
							%td -15
						%tr
							%td #CLOUD
							%td 11K
							%td -7
						%tr
							%td #SUN
							%td 12K
							%td -6

%script{:type=>'text/javascript', :src=>'/scripts/dashboard.js'}
%script{:type=>'text/javascript',:src=>	"/scripts/bootstrap-tooltip.js"}
